{% extends 'nav.html' %}
{% block content %}


<h1>Contact Us page</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et deleniti consequatur corporis tenetur totam? Animi nobis mollitia distinctio quos eum, expedita perspiciatis vero facilis in alias dolores. Illo, vitae delectus!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et deleniti consequatur corporis tenetur totam? Animi nobis mollitia distinctio quos eum, expedita perspiciatis vero facilis in alias dolores. Illo, vitae delectus!</p>


{% endblock %}
